global:
  nodeSelector:
    intel.feature.node.kubernetes.io/sgx: "true"

intel-sgx-plugin:
  nodeFeatureRule:
    enabled: true

tdxQuoteGenerationService:
  mode: Online

pcsApiKey:
  apiKey: {{ requiredEnv "PCCS_API_KEY" | quote }}
